<table class="ranking resultaten" style="width:100%">
    <tr class="resultsheader">
        <th>POS</th>
        <th>Club</th>
        <th>GW</th>
        <th>W</th>
        <th>G</th>
        <th>V</th>
        <th>PTN</th>
    </tr>
    {loop="$ranks"}
    <tr{if="substr($value->naam, 0, 4) == 'VVZ '"} class="self"{/if}>
        <td class="position">{$value->Positie}</td>
        <td class="name">
            {if="$logo && $value->logo"}
                <img alt="Clublogo van {$value->naam}" src="{$value->logo}" />
            {else}
                {$value->naam}
            {/if}
        </td>
        <td class="played" title="Gespeeld">{$value->Gespeeld}</td>
        <td class="won" title="Gewonnen">{$value->Gewonnen}</td>
        <td class="tie" title="Gelijk">{$value->Gelijk}</td>
        <td class="lost" title="Verloren">{$value->Verloren}</td>
        <td class="points" title="Punten">{$value->Punten}</td>
    </tr>
    {else}
    <tr>
        <td class="nothing" colspan="7">Momenteel is er geen stand beschikbaar.</td>
    </tr>
    {/loop}
</table>